<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="springAppName" source="spring.application.name"/>
    <property name="LOG_PATH" value="${LOG_PATH}"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="logPattern" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                ${logPattern}
            </pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${springAppName}/${springAppName}.log</file>
        <encoder>
            <pattern>
                ${logPattern}
            </pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${springAppName}/${springAppName}_%d{dd-MM-yyyy}.log</fileNamePattern>
            <maxHistory>10</maxHistory>
            <totalSizeCap>10MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <springProfile name="local | dev">
        <logger name="com.demo.stocks" additivity="false" level="debug">
            <appender-ref ref="STDOUT"/>
        </logger>
        <root level="DEBUG">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <root level="info">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="com.demo.stocks" additivity="false" level="debug">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="STDOUT"/>
    </logger>

</configuration>
